# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
logs/
pids
*.pid
*.seed
*.pid.lock

# Runtime data
lib-cov
coverage/
*.lcov

# Build output
dist/
build/
.cache/
.next/
out/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Optional npm cache
.npm
.eslintcache

# TypeScript
*.tsbuildinfo

# Misc
*.tgz
